.ProductsText {
  color: #e5e5e5;
  display: block;
  margin: 0 0 0 10px;
  font-size: 42px;
  line-height: 27px;
  font-weight: 400;
  margin-top: 50px;
  user-select: none;
}

.ProductsTitle {
  color: #000;
  text-transform: uppercase;
}

.ProductsDescription {
  text-transform: uppercase;
}
