.view-more-btn {
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  margin: 20px;
}

.view-more-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
