.view-more-btn {
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 430px;
  left: 200px;
}

.view-more-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
