.CarouselImg {
  width: 100vw;
  height: 50vh;
  background-size: cover;
}

.carousel-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  /* width: 50% !important; */
  height: 75vh !important;
}

.slider-title {
  position: absolute;
  top: 280px;
  left: 200px;
  font-size: 70px;
  color: white;
}

.slider-text {
  position: absolute;
  top: 370px;
  left: 180px;
  color: white;
  font-style: italic;
  width: 550px;
}

.test-img {
  width: 100vw;
  height: 74vh;
  background-size: cover;
}

.img-logo-test {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 230px !important;
  height: 100px !important;
}
