.carousel-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40vw;
  height: 75vh !important;
  text-align: start;
  margin-left: 100px;
}

.carousel-img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 20px;
}

.slider-title {
  font-size: 70px;
  color: white;
  cursor: default;
  user-select: none;
  text-transform: uppercase;
}

.slider-text {
  color: white;
  font-style: italic;
  width: 550px;
  cursor: default;
  user-select: none;
  margin-left: 10px;
}

.img-logo-test {
  width: 230px !important;
  height: 100px !important;
}
