.row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.row-first-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 5% !important;
}

.row-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row-tittle {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.075em;
  font-size: 17px;
}

.row-text {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  width: 340px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
