.Showcases-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.Showcase-img {
  width: 470px;
  height: 480px;
}

.effect5 {
  float: left;
  /* display: inline-block; */
  width: 100%;
  max-width: 480px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
}
.effect5 img {
  max-width: 100%;
}
.showcase-link {
  text-decoration: none;
  color: black;
  width: 100%;
  left: 0;
  text-align: center;
  height: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 1s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 3px;
}
.effect5:hover .showcase-link {
  background-color: white;
  visibility: visible;
  height: 17%;
  padding: 42% 0;
  opacity: 1;
}

.first-text {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
}

.second-text {
  font-size: 17px;
  font-weight: 400;
  color: gray;
}
