.large-dropdown-menu {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: black;
  width: 100vw;
  margin-top: 20px;
  right: -888px;
  top: 45px;
  height: 30vh;
}

.another-menu {
  position: relative;
  display: inline-block;
}

/* .another-menu:hover .large-dropdown-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
} */

.another-menu > a:hover::before {
  transform-origin: right;
  transform: scaleX(1);
  z-index: 1;
}

.another-menu > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: #18272f;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.another-menu a {
  text-decoration: none;
  color: black;
  position: relative;
}

.whitelink {
  color: white !important;
}

.Product-type {
  display: flex;
  flex-direction: column;
}
