.IconsContainer {
  margin-right: 30px;
}

.icon {
  cursor: pointer;
  margin-right: 20px;
}

.Icon-Sidebar {
  background-color: black;
  height: 800px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 100px;
}

.zoom-back {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 100px;
  background-color: #000000a8;
}
